<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 style="text-align: center">Blog </h1>
<h2 style="text-align: center">Sahan has Written {{ blogs.count }} blog{{ blogs|pluralize  }} </h2>

<hr>
{% for blog in blogs %}

    <h2 style="color: dodgerblue">{{ blog.headline}}</h2>
    <h3 style="color: burlywood">{{ blog.date }}</h3>
    <p>{{ blog.description }}</p>

    <h2>{{ blog.id }}</h2>

    <a href="{% url "blog:details" blog_id=blog.id %}">See More</a>

{% endfor %}



</body>
</html>